<a href="#"><img src="{{ 'linkedin.svg' | asset_url }}" alt="LinkedIn"></a>
<a href="#"><img src="{{ 'vimeo.svg' | asset_url }}" alt="Vimeo"></a>
<a href="#"><img src="{{ 'instagram.svg' | asset_url }}" alt="Instagram"></a>
<a href="#"><img src="{{ 'twitter.svg' | asset_url }}" alt="Twitter"></a>
<a href="#"><img src="{{ 'facebook.svg' | asset_url }}" alt="Facebook"></a>
