<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Shopify Attempt Plain</title>

    <link href="https://fonts.cdnfonts.com/css/helvetica-neue-5" rel="stylesheet">
  </head>

  <body>
    <header id="getmore-header" class="getmore-header">
      <div id="header-logo" class="header-logo">
        <img
          src="{{ 'logo.png' | asset_url }}"
          srcset="{{ 'logo@2x.png' | asset_url }} 2x, {{ 'logo@3x.png' | asset_url }} 3x"
          alt="The logo is a white tennis ball."
        >
      </div>

      <div id="header-menu" class="header-menu">
        <nav>
          <ul class="links">
            <li class="font-normal">
              <a href="#">Inicio</a>
              <div></div>
            </li>
            <li class="font-normal"><a href="#">Acerca de nosotros</a></li>
            <li class="font-normal"><a href="#">Historia</a></li>
            <li class="font-normal"><a href="#">Contacto</a></li>
          </ul>

          <div class="lang-toggle"><a href="#">ES </a><a href="#"> EN</a></div>

          <div id="menu-toggle" class="menu-toggle">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </nav>

        <div id="header-hero" class="header-hero">
          <h1 class="title font-normal">Las mejores raquetas para jugar <strong>Tennis</strong></h1>
          <div class="button">Acerca de Nosotros &#10230;</div>
        </div>
      </div>
    </header>

    <section id="getmore-info" class="getmore-info">
      <h2 class="title">Tennis</h2>

      <div class="text">
        <h2 class="font-normal">Raquetas. Accesorios. Pelotas.</h2>
        <p class="font-normal">Conoce nuestras raquetas y aprende a jugar Tennis cómo un profesional.</p>
      </div>

      <div class="button">Historia<span>&#10230;</span></div>
    </section>

    <section id="getmore-catalog">
      <div id="catalog-l-side">
        <div id="l-side-text">
          <h2 class="font-normal">Nuestras <strong>Raquetas</strong></h2>
          <p>Conoce nuestras raquetas y aprende a jugar Tennis cómo un profesional.</p>
        </div>

        <div id="l-side-dots">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>

        <div id="l-side-buttons">
          <span class="prev">
            <img src="{{ 'caret.svg' | asset_url }}">
          </span>
          <span class="next">
            <img src="{{ 'caret.svg' | asset_url }}">
          </span>
        </div>
      </div>

      <div id="catalog-r-side">
        <div class="r-side-item">
          <div class="item-more">
            <h2>Ver catálogo de productos</h2>
          </div>

          <img
            src="{{ 'item.jpg' | asset_url }}"
            srcset="{{ 'item@2x.jpg' | asset_url }} 2x, {{ 'item@3x.jpg' | asset_url }} 3x"
            alt="The image of a red and black racquet with its index inside a green circle in the top left corner of the image."
          >

          <span class="item-index">1</span>
        </div>

        <div class="r-side-item">
          <img
            src="{{ 'item.jpg' | asset_url }}"
            srcset="{{ 'item@2x.jpg' | asset_url }} 2x, {{ 'item@3x.jpg' | asset_url }} 3x"
            alt="The image of a red and black racquet with its index inside a green circle in the top left corner of the image."
          >

          <span class="item-index">2</span>
        </div>

        <div class="r-side-item">
          <img
            src="{{ 'item.jpg' | asset_url }}"
            srcset="{{ 'item@2x.jpg' | asset_url }} 2x, {{ 'item@3x.jpg' | asset_url }} 3x"
            alt="The image of a red and black racquet with its index inside a green circle in the top left corner of the image."
          >

          <span class="item-index">3</span>
        </div>

        <div class="r-side-item">
          <img
            src="{{ 'item.jpg' | asset_url }}"
            srcset="{{ 'item@2x.jpg' | asset_url }} 2x, {{ 'item@3x.jpg' | asset_url }} 3x"
            alt="The image of a red and black racquet with its index inside a green circle in the top left corner of the image."
          >

          <span class="item-index">4</span>
        </div>

        <div class="r-side-item">
          <img
            src="{{ 'item.jpg' | asset_url }}"
            srcset="{{ 'item@2x.jpg' | asset_url }} 2x, {{ 'item@3x.jpg' | asset_url }} 3x"
            alt="The image of a red and black racquet with its index inside a green circle in the top left corner of the image."
          >

          <span class="item-index">5</span>
        </div>
      </div>
    </section>

    <section id="getmore-banner" class="getmore-banner"></section>

    <footer id="getmore-footer" class="getmore-footer">
      <div id="footer-menu">
        <nav>
          <ul class="links">
            <li class="font-normal"><a href="#">Inicio</a></li>
            <li class="font-normal"><a href="#">Acerca de nosotros</a></li>
            <li class="font-normal"><a href="#">Historia</a></li>
            <li class="font-normal"><a href="#">Contacto</a></li>
          </ul>

          <div class="menu-social">
            <a href="#"><img src="{{ 'linkedin.svg' | asset_url }}" alt="LinkedIn"></a>
            <a href="#"><img src="{{ 'vimeo.svg' | asset_url }}" alt="Vimeo"></a>
            <a href="#"><img src="{{ 'instagram.svg' | asset_url }}" alt="Instagram"></a>
            <a href="#"><img src="{{ 'twitter.svg' | asset_url }}" alt="Twitter"></a>
            <a href="#"><img src="{{ 'facebook.svg' | asset_url }}" alt="Facebook"></a>
          </div>
        </nav>
      </div>

      <div id="footer-logo">
        <img
          src="{{ 'logo.png' | asset_url }}"
          srcset="{{ 'logo@2x.png' | asset_url }} 2x, {{ 'logo@3x.png' | asset_url }} 3x"
          alt="The logo is a white tennis ball."
        >
      </div>
    </footer>

    <script>
      // JavaScript to handle the menu toggle
      const menuToggle = document.getElementById('menu-toggle');
      const links = document.querySelector('.links');

      menuToggle.addEventListener('click', () => {
        links.classList.toggle('show');
      });
    </script>
  </body>
</html>
